[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "*"
chardet = "*"
django = "*"
djangorestframework = "*"
idna = "*"
pytz = "*"
requests = "*"
simplejson = "*"
uplink = "*"
uritemplate = "*"
urllib3 = "*"

[requires]
python_version = "3.6"
